::ng-deep{
    app-chat{
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .no-padding{
        padding: 0 !important;
    }
    .no-chat{
        font-size: 1.5em;
    }
}