<mat-card-title>
  Inscrever-se
</mat-card-title>
<form fxLayout="column">
  <mat-form-field class="filho-form">
    <mat-label></mat-label>
    <input matInput>
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field class="filho-form">
    <mat-label></mat-label>
    <input matInput>
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field class="filho-form">
    <mat-label></mat-label>
    <input matInput>
    <mat-error></mat-error>
  </mat-form-field>
  <mat-form-field class="filho-form">
    <mat-label></mat-label>
    <input matInput>
    <mat-error></mat-error>
  </mat-form-field>
</form>